body{
    /* background: darkturquoise; */
    background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/180517114139-vivid-sydney-2016-2-full-169.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center; 
    width: 100vw;
    height: 100%;
}

.red_heading{
    color: rgb(233, 241, 241);
}

#heading{
    color: rgb(243, 245, 245);
    font-size: 5em; 
    font-family: 'Allura';
}

#Welcome{
    font-size: 1em;
    color: rgb(236, 245, 245);
}

.navbar{
    background: darkslategray !important;
}

html,body{
    width: 100%;
    height: 100%;
}
#hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Allura';
}



#main_content {
    position: absolute;
    text-align: center;
    color: rgb(193, 193, 214);
    top: 50vh;
}

#main_content h1{
    font-family: allura;
    font-size: 8em;
}

.tint{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.1);

}
.carousel-item img{
    width: 80vw;
    height: 100vh;
}
.carousel{
    margin: auto;
}

